<div class="container">

  <div class="row">

    <div class="col-md-12">

      <h1>Click on your symptom location</h1>

      <a href="/form/02"><img src="/img/human_body_320.jpg" class="center" /></a>

    </div>

  </div>

</div>
