<div class="container">

  <div class="row">

    <div class="col-md-12">

      <h1>Select symptom</h1>

      <div class="center">
        <p>
          <a class="btn btn-default btn-lg" href="/form/03" data-value="148">Headache</a>
        </p>

        <p>
          <button type="button" class="btn btn-default btn-lg" data-value="149">Eye Pain</button>
        </p>

        <p>
          <button type="button" class="btn btn-default btn-lg" data-value="150">Dizzyness</button>
        </p>

        <p>
          <button type="button" class="btn btn-default btn-lg" data-value="151">Light-headedness</button>
        </p>

        <p>
          <button type="button" class="btn btn-default btn-lg" data-value="152">Vertigo</button>
        </p>

        <p>
          <button type="button" class="btn btn-default btn-lg" data-value="153">Other</button>
        </p>
      </div>
    </div>

  </div>

</div>
