<div class="container">

  <div class="row">

    <div class="col-md-12">

      <h1>Additional information</h1>

      <div class="center">
        <p>
          <select id="pain-loc" class="center selectpicker">
            <option>Location of Pain</option>
            <option value="0">Front</option>
            <option value="1">Back</option>
            <option value="2">Side</option>
            <option value="3">All over</option>
          </select>

        </p>

        <p>
          <select id="pain-dur" class="center selectpicker">
            <option>Duration of pain</option>
            <option value="0">2 hours or less</option>
            <option value="1">8 hours or less</option>
            <option value="2">12 hours or more</option>
          </select>
        </p>

        <p>
          <select id="assoc-sym" class="center selectpicker">
            <option>Associated symptoms</options>
            <option value="0">Vision changes or light sensitivity</option>
            <option value="1">Ringing of or in ears</option>
            <option value="2">Nausia or vomiting</option>
            <option value="3">Neck stiffness</option>
            <option value="4">Personality changes</option>
            <option value="5">Other</option>
          </select>
        </p>

        <p>
          <label>Description of pain</label>
          <textarea id="pain-desc"></textarea>
        </p>

        <p>
          <a id="continue" class="btn btn-primary btn-lg" href="/form/05">Continue</a>
        </p>
      </div>

    </div>

  </div>

</div>
