<div class="container">

  <div class="row">

    <div class="col-md-12">

      <h1>Vitals</h1>

      <div class="center">

        <a id="vital-btn" href="/form/06"><img src="/img/vitals.jpg" /></a>

      </div>

    </div>

  </div>

</div>
