<div class="container">

  <div class="row">

    <div class="col-md-12">

      <h1>Treatment</h1>

      <div class="center">
        <ul>
          <li>Advil or Tylenol</li>
          <li>Rest in a quiet, dark room</li>
          <li>Hot or cold compresses to your head or neck</li>
          <li>Massage and small amounts of caffeine</li>
        </ul>
      </div>

    </div>

  </div>

</div>
