<div class="container">

  <div class="row">

    <div class="col-md-12">

      <h1>Who are you?</h1>

      <select id="astronaut-list">
        <option>Please select</option>
        <option value="0">Rodgers, Mike</option>
      </select>

    </div>

    <!--<div class="col-md-1 col-md-offset-11">
      <p>
        <button type="button" class="btn btn-primary btn-lg">Next</button>
      </p>
    </div>-->

  </div>

</div>
